<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004406366480-jm2m08nojtltda1m91jdb1r8efqhou3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004406366480-jm2m08nojtltda1m91jdb1r8efqhou3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004406366480-hf7ttlpcr65h5nilfdtqelhk62nenedr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMWD5J4S8LpxhheoQypyWhOKO1ASmqilM</string>
	<key>GCM_SENDER_ID</key>
	<string>1004406366480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homescreenfeed</string>
	<key>PROJECT_ID</key>
	<string>foodwifi-188a7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodwifi-188a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004406366480:ios:991bdd570366b26ae48595</string>
</dict>
</plist>